Source: nucperiod
Maintainer: Ben Morledge-Hampton <b.morledge-hampton@wsu.edu>
Build-Depends: debhelper,dh-python,python3-all,python3-setuptools
Section: devel
Priority: optional
Standards-Version: 3.9.6
X-Python3-Version: >= 3.6

Package: nucperiod
Architecture: all
Description: Examine mutational periodicity about nucleosomes.
Depends: ${python3:Depends},python3-tk,r-base