Source: mutperiod
Maintainer: Ben Morledge-Hampton <b.morledge-hampton@wsu.edu>
Build-Depends: debhelper (>= 11.0.0),dh-python,python3-all,python3-setuptools,bash-completion
Section: python
Priority: optional
Standards-Version: 3.9.6
X-Python3-Version: >= 3.7

Package: mutperiod
Architecture: all
Description: Examine mutational periodicity about nucleosomes.
Depends: ${python3:Depends}, ${misc:Depends}, mutperiodr, bedtools, python3-benbiohelpers
