Source: mutperiodr
Maintainer: Ben Morledge-Hampton <b.morledge-hampton@wsu.edu>
Section: gnu-r
Testsuite: autopkgtest-pkg-r
Priority: optional
Build-Depends: debhelper-compat (= 12),
               dh-r,
               r-base-dev,
               r-cran-data.table,
               r-cran-lomb,
               r-cran-msiseq,
               r-cran-deconstructsigs
Standards-Version: 4.4.0
Homepage: 

Package: mutperiodr
Architecture: any
Depends: ${R:Depends},
         ${misc:Depends},
         r-cran-lomb, r-cran-msiseq, r-cran-deconstructsigs
Recommends: ${R:Recommends}
Suggests: ${R:Suggests}
Description: The R portion of the larger "mutperiod" package
 The R portion of the larger "mutperiod" package which characterizes
 mutational periodicities about nucleosomes.  Specifically, the R scripts
 contained within stratify data by microsatellite stability and mutation
 signature during initial data import and run statistical analysis and
 output relevant figures during the later stages of the pipeline.

